.box {
  padding: 1rem;
  background-color: rgb(80, 80, 80);
  margin: 1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.05);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.x,
.NaN {
  display: none;
}

.box__title {
  margin-bottom: 1rem;
}

.box__desc {
  height: 150px;
  overflow: scroll;
}

.box__number {
  font-size: 2.5rem;
}

.box__oldnumber {
  font-size: 0.8rem;
}

.Augmente {
  color: crimson;
}

.Diminue {
  color: green;
}
